/*-----------------------------------------------------*/
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

/*-----------------------------------------------------*/
.cloud1{
    position: absolute;
    right: 280px;
    top: 50px;
}


.cloud2{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/*-----------------------------------------------------*/
.nav_bar{
    overflow: hidden;
    background-color: #003865;
  }
  
  .nav_bar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 19px; /*height and width*/
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav_bar a:hover{
    background-color: #A5F1E9;
    color: black;
    text-decoration: underline;
    text-decoration-color: #6F38C5;
  }
  
  .nav_bar a.active{
    background-color: #FFEA11;
    color: black;
}

/*-----------------------------------------------------*/
h1{
  font-size: 40px;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

.hello_h1{
    color: #829460;
}

.ved_h1{
    margin-left: 25px;
    color: #66BFBF;
}

.pro{
    text-decoration: underline;
    text-decoration-color: #6F38C5;
}

.pro:hover{
    text-decoration: underline;
    text-decoration-color: #6F38C5;
    font-size: 32px;
    transition: 0.7s all ease-in-out;
}

.programmer{
    font-family: "Bungee Spice", sans-serif;
    font-size: large;
}

.laptop_emo{
    text-decoration: underline;
    text-decoration-color: #6F38C5;
    
}

.laptop_emo:hover{
    font-size: 32px;
    transition: 0.7s all ease-in-out;
}

/*-----------------------------------------------------*/
h2{
    font-family: "Montserrat", sans-serif;
    
}

/*-----------------------------------------------------*/
h3{
    font-family: "Montserrat", sans-serif;
}

/*-----------------------------------------------------*/
.profile{
    background-color: #FCFFB2;
    border: 2px solid #6F38C5;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
/*-----------------------------------------------------*/
.top-container{   
    background-color: #E4F9F5;
    position: relative;
    padding-top: 25px;
}

.img_profile{
    margin-top: 25px;
    width: 270px;
    height: 270px;
    transition: 0.7s all ease-in-out;
}

.img_profile:hover{
    margin-top: 45px;
    margin-bottom: 25px;
    border: 3px solid #87A2FB; 
    border-radius: 135px;
    transform: scale(1.2);

}


.img_skills{
    width: 250px;
    height: 250px;
}


.ved_skills{
    margin-top: 55px;
    width: 800px;
    height: 510px;
    margin-bottom: 55px;
}

/*-----------------------------------------------------*/
.contactme_hr{
    border-top: 6px solid #5C2E7E;
}

.contact-me{
    border: 2px solid #6F38C5;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #FCFFB2;
}

.getintouch{
    margin-top: 12px;
}

.linkedin_logo{
    margin-right: 0px;
    width: 35px;
    text-decoration: none;
    height: 35px;
}

.linkedin_logo:hover{
    width: 50px;
    height: 50px;
    transition-duration: 0.9s;
}

.github_logo{
    border-radius: 15px;
    margin-left: 12px;
    width: 35px;
    height: 35px;
}

.github_logo:hover{
    width: 50px;
    height: 50px;
    transition-duration: 0.9s;
}

.email_gif{
    margin-left: 12px;
    width: 35px;
    height: 35px;
}

.email_gif:hover{
    width: 50px;
    height: 50px;
    transition-duration: 0.9s;
}

.website_link{
    text-decoration: none;
    margin-left: 15px;
    font-style: oblique;
}

.website_link:hover{
    font-size: 20px;
    transition-duration: 0.5s;
    text-decoration: underline;
}
/*-----------------------------------------------------*/

/* CSS for about.html */

/*--------------------------*/
.ved_pic{
    margin-top: 45px;
    margin-left: 0px;
    border: 3px solid #5C2E7E;
    border-radius: 700px;
    width: 350px;
}

/*--------------------------*/
.aboutme_h2{
    margin-left: 0px;
    margin-bottom:0px;
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  .aboutme_h2:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.7s ease-out;
  }
  .aboutme_h2:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/*--------------------------*/
